@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root {
  background-color: #043445;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:"slnt" 0;
  color: #EEEEEE;
  display: block;
  line-height: 2rem;
}

p 
{
  line-height: 1.5rem;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
